doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.min.css')

  body
    header
      nav
        ul
          li
            a(href='#about') About
          li
            a(href='#projects') Projects
          li
            a(href='#skills') Skills
          li
            a(href='#contact') Contact
    
    main
      #about
        h2 About
        p My name is Harpreet Singh and I am currently a front end developer working towards becoming a full-stack developer. I am based in Mansfield, TX which is near Dallas, but I am willing to relocate.
        p Every project that I have built I make sure that they are all responsive and look good on mobile devices. I practice writing clean code which can be read easily by another developer or my future self.
        p I am also willing to learn any new technologies that come out.
        
      #projects
        h2 Projects
        
        nav
          ul
            li
              a(href='#' data-name='html-css-projects' class='button highlight') HTML/CSS Projects
            li
              a(href='#' data-name='jquery-projects' class='button') jQuery Projects
        
        #html-css-projects
          ul
            each site in htmlCssProjects
              li
                a(href='#{site.link}' target='_blank')
                  img(src='#{site.img}')
                p #{'Project name: ' + site.name}
                p Github 
                  a(href='#{site.githubLink}' target='_blank') Link
        
        #jquery-projects
          ul
            each site in jQueryProjects
              li
                a(href='#{site.link}' target='_blank')
                  img(src='#{site.img}')
                p #{'Project name: ' + site.name}
                p Github 
                  a(href='#{site.githubLink}' target='_blank') Link
      
      #skills
        h2 Skills
        ul
          each skill in skills
            li
              img(src='#{skill.img}' title='#{skill.name}')
                  
    footer
      #contact
        h2 Contact
        p 682-702-9892
        p harpreetsingh5000@gmail.com
        ul
          li
            a(href='https://github.com/harpreetsingh500/portfolio' target='_blank')   
              img(src='images/social/github.jpg')
          li
            a(href='https://www.codewars.com/users/harpreetsingh500' target='_blank')
              img(src='images/social/codewars.jpg')
              
    img(src='images/general/arrow-top.jpg' id='arrow-img')

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-90357056-1', 'auto');
      ga('send', 'pageview');
      
    script(src='javascripts/all.js')
